<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pcshop</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddTovar</servlet-name>
    <servlet-class>ManipulCart.AddTovar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTovar</servlet-name>
    <url-pattern>/AddTovar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>input</servlet-name>
    <servlet-class>myServlet.Input</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>input</servlet-name>
    <url-pattern>/input</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubOrder</servlet-name>
    <servlet-class>myServlet.SubOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubOrder</servlet-name>
    <url-pattern>/suborder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>ManipulCart.AddCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MinusCart</servlet-name>
    <servlet-class>ManipulCart.MinusCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MinusCart</servlet-name>
    <url-pattern>/MinusCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemCart</servlet-name>
    <servlet-class>ManipulCart.RemCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemCart</servlet-name>
    <url-pattern>/RemCart</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>TimeFilter</filter-name>
    <filter-class>Filters.TimeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TimeFilter</filter-name>
    <url-pattern>/Zakaz.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TimeFilter</filter-name>
    <url-pattern>/TovarItems</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TimeFilter</filter-name>
    <url-pattern>/TovarFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TimeFilter</filter-name>
    <url-pattern>/ResetFilter</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>fltRus</filter-name>
    <filter-class>Filters.FltRussian</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>fltRus</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>fInput</filter-name>
    <filter-class>Filters.FilterInput</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>fInput</filter-name>
    <url-pattern>/TovarItems</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>fInput</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>fInput</filter-name>
    <url-pattern>/Exit.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>fInput</filter-name>
    <url-pattern>/Zakaz.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>fInput</filter-name>
    <url-pattern>/OrderItems</url-pattern>
  </filter-mapping>
  <resource-ref>
    <description>MySQL</description>
    <res-ref-name>jdbc/webPC</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>TovarItems</servlet-name>
    <servlet-class>myServlet.DBTovarList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TovarItems</servlet-name>
    <url-pattern>/TovarItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderItems</servlet-name>
    <servlet-class>myServlet.DBOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderItems</servlet-name>
    <url-pattern>/OrderItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>myServlet.Registers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderItemFull</servlet-name>
    <servlet-class>myServlet.DBOrderAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderItemFull</servlet-name>
    <url-pattern>/OrderItemFull</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemOrder</servlet-name>
    <servlet-class>ManipulCart.RemOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemOrder</servlet-name>
    <url-pattern>/remorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TovarFilter</servlet-name>
    <servlet-class>myServlet.FilterTovar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TovarFilter</servlet-name>
    <url-pattern>/TovarFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionEnd</servlet-name>
    <servlet-class>myServlet.SessionEnd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionEnd</servlet-name>
    <url-pattern>/exit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetFilter</servlet-name>
    <servlet-class>myServlet.ResetFilters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetFilter</servlet-name>
    <url-pattern>/ResetFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orderContent</servlet-name>
    <servlet-class>myServlet.OrderContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderContent</servlet-name>
    <url-pattern>/orderContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderFilter</servlet-name>
    <servlet-class>myServlet.OrderFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFilter</servlet-name>
    <url-pattern>/orderFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetOrderFilter</servlet-name>
    <servlet-class>myServlet.ResetOrderFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetOrderFilter</servlet-name>
    <url-pattern>/ResetOrderItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderAdress</servlet-name>
    <servlet-class>myServlet.OrderAdress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAdress</servlet-name>
    <url-pattern>/SubmitAdress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderIFilter</servlet-name>
    <servlet-class>myServlet.OrderIFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderIFilter</servlet-name>
    <url-pattern>/orderIFilter</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>OrderUFReset</servlet-name>
    <servlet-class>myServlet.OrderUFReset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderUFReset</servlet-name>
    <url-pattern>/orderUFReset</url-pattern>
  </servlet-mapping>
</web-app>